/* --- Tailwindcss Directives --- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Default Styles --- */
::selection {
  background-color: #ffe3c5;
}

body {
  @apply font-jost font-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-ds font-normal text-dark capitalize;
}

p {
  @apply text-gray;
}

a {
  @apply inline-block capitalize;
}

.btn {
  @apply font-jost font-semibold text-lg text-white whitespace-nowrap capitalize leading-[22.5px] tracking-[0.02em] bg-dark p-[20.8px_43.2px] sm:p-[26px_54px] rounded-[18px] flex items-center w-fit space-x-2;
}

/* Projects Section */
.projects-container .project-item:nth-child(4n + 1) > .project-thumbnail {
  border-top-right-radius: 80px;
}

.projects-container .project-item:nth-child(4n + 2) > .project-thumbnail {
  border-top-left-radius: 80px;
}

.projects-container .project-item:nth-child(4n + 3) > .project-thumbnail {
  border-bottom-right-radius: 80px;
}

.projects-container .project-item:nth-child(4n + 4) > .project-thumbnail {
  border-bottom-left-radius: 80px;
}
